
.formControl.error input,
.formControl.error textarea {
    border: solid 4px red
}

.formControl.error span {
    color: red
}

.formSummeryError {
    display: inline;
    border: 1px solid red;
    color: red
}